<!--<weather-catalog>-->
                    <div class="col-md-12 weather-catalog">
                        <div class="col-md-2 font-roboto selected">
                                <div >Tue</div>
                                <div class="weather-img1 col-md-offset-2">
                                    <img src="assets/partlycloudy.svg">
                                </div>
                                <div>
                                    37° 25°
                                </div>
                        </div>
                         <div class="col-md-2 font-roboto">
                                asdf
                        </div>
                    </div>
            <!--</weather-catalog>-->